
<article class="article article--basic " data-tracker-action="VIEW" data-tracker-type="TEXT" data-tracker-id="318940" data-tracker-status="false">
    <header class="article__header">
        <h3 class="article__title">Early Cricket (Pre 1799)</h3>

    </header>
    <div class="article__summary"></div>
    <div class="article__content">
        <div class="articleWidget left">


<section class="embedded-photo " data-widget="EmbeddedPhoto">

    <div class="embedded-photo__content">

        <picture class="embedded-photo__content-image">



                <source srcset="https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/abd1fb54-a565-40eb-9d79-0acb2b16be92/GettyImages-486317210.jpg, https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/c94d5208-dfcf-40e0-860f-c745e796a21b/GettyImages-486317210.jpg 2x">
                <img src="https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/abd1fb54-a565-40eb-9d79-0acb2b16be92/GettyImages-486317210.jpg" alt="Cricket On The Artillery Ground" />


        </picture>

        <div class="embedded-photo__content-text-container">
            Cricket On The Artillery Ground
        </div>

    </div>

</section>
</div><p>There is a consensus of expert opinion that cricket may have been invented during Saxon or Norman times by children living in the Weald, an area of dense woodlands and clearings in south-east England. The first reference to cricket being played as an adult sport was in 1611, and in the same year, a dictionary defined cricket as a boys' game. There is also the thought that cricket may have derived from bowls, by the intervention of a batsman trying to stop the ball from reaching its target by hitting it away.</p>
<p>Village cricket had developed by the middle of the 17th century and the first English &#8220;county teams&#8221; were formed in the second half of the century, as &#8220;local experts&#8221; from village cricket were employed as the earliest professionals. The first known game in which the teams use county names is in 1709.&#160;</p><div class="articleWidget right">


<section class="embedded-photo " data-widget="EmbeddedPhoto">

    <div class="embedded-photo__content">

        <picture class="embedded-photo__content-image">



                <source srcset="https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/9d46920a-65ce-4e1b-a16c-1e9505ee720b/GettyImages-510357678.jpg, https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/10ea1568-6c09-4610-8215-13494b16c69f/GettyImages-510357678.jpg 2x">
                <img src="https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/9d46920a-65ce-4e1b-a16c-1e9505ee720b/GettyImages-510357678.jpg" alt="Early village cricket" />


        </picture>

        <div class="embedded-photo__content-text-container">
            Early village cricket
        </div>

    </div>

</section>
</div><p>In the first half of the 18th Century cricket established itself as a leading sport in London and the south-eastern counties of England. Its spread was limited by the constraints of travel, but it was slowly gaining popularity in other parts of England and Women&#8217;s Cricket dates back to the 1745, when the first known match was played in Surrey.</p>
<p>In 1744, the first Laws of Cricket were written and subsequently amended in 1774, when innovations such as lbw, a 3rd stump, - the middle stump and a maximum bat width were added. The codes were drawn up by the &#8220;Star and Garter Club&#8221; whose members ultimately founded the famous Marylebone Cricket Club at Lord's in 1787. MCC immediately became the custodian of the Laws and has made revisions ever since then to the current day.</p><div class="articleWidget left">


<section class="embedded-photo " data-widget="EmbeddedPhoto">

    <div class="embedded-photo__content">

        <picture class="embedded-photo__content-image">



                <source srcset="https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/26779d45-b128-44f6-ba9f-e77cbdc787e1/GettyImages-78976511.jpg, https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/7e2da45f-c23c-41bc-b559-5c647971a88e/GettyImages-78976511.jpg 2x">
                <img src="https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/31/26779d45-b128-44f6-ba9f-e77cbdc787e1/GettyImages-78976511.jpg" alt="The first instances of cricket" />


        </picture>

        <div class="embedded-photo__content-text-container">
            The first instances of cricket
        </div>

    </div>

</section>
</div><p>Rolling the ball along the ground was superseded sometime after 1760 when bowlers began to pitch the ball and in response to that innovation the straight bat replaced the old &#8220;hockey-stick&#8221; style of bat. The Hambledon Club in Hampshire was the focal point of the game for about thirty years until the formation of MCC and the opening of Lord's Cricket Ground in 1787.</p>
<p>Cricket was introduced to North America via the English colonies as early as the 17th century, and in the 18th century it arrived in other parts of the globe. It was introduced to the West Indies by colonists and to India by British East India Company mariners. It arrived in Australia almost as soon as colonisation began in 1788 and the sport reached New Zealand and South Africa in the early years of the 19th century.</p>
    </div>
</article>

	</div>
</div>
</main>

<footer class="footer u-no-padding" role="contentinfo">

</footer>


    <script src="/resources/prod/v8.13.2/scripts/vendors.js"></script>
    <script src="/resources/prod/v8.13.2/scripts/client.js"></script>

    <!--[if IE]> -->
    <script type="text/javascript">
        svg4everybody();
    </script>
    <!-- <![endif]-->
</body>
</html>